<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Individual</h1>
  </div>

  <div class="view-portfolio">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primaryW">
                <h2 class="card-title">Book Covid Test</h2>
                <p class="card-category">Individual details</p>
              </div>
              <div class="card-body">
                <form method="POST" [formGroup]="form" (ngSubmit)="submitForm()" >

                    <div class="row pd-10">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">First Name</label>
                            <input formControlName="individualFirstName" type="text" class="form-control" placeholder="input first name" >
                            <div class="small alert alert-danger" *ngIf="individualFirstName.touched && individualFirstName.invalid">
                                <span *ngIf="!!individualFirstName.errors.required">please input your first name</span>
                                </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="row pd-10">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Last Date</label>
                            <input type="text" formControlName="individualLastName" class="form-control" placeholder="input last name">
                            <div class="small alert alert-danger" *ngIf="individualLastName.touched && individualLastName.invalid">
                                <span *ngIf="!!individualLastName.errors.required">please input your last name</span>
                                </div>
                          </div>
                        </div>
                      </div>

                      <div class="row pd-10">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input type="text" formControlName="individualEmailAddress" class="form-control" placeholder="input email address">
                            <div class="small alert alert-danger" *ngIf="individualEmailAddress.touched && individualEmailAddress.invalid">
                                <span *ngIf="!!individualEmailAddress.errors.required">please input your email address</span>
                                </div>
                          </div>
                        </div>
                      </div>

                      <div class="row pd-10">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Mobile Number</label>
                            <input type="text" formControlName="individualMobileNumber" class="form-control" placeholder="input Mobilenumber">
                            <div class="small alert alert-danger" *ngIf="individualMobileNumber.touched && individualMobileNumber.invalid">
                                <span *ngIf="!!individualMobileNumber.errors.required">please input your mobile number date</span>
                                </div>
                          </div>
                        </div>
                      </div>

                      <div class="row pd-10">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Test Type</label>
                            <select formControlName="testType" class="form-control" >
                                <option disabled>Test Type</option>
                                <option>Choose Test Type</option>
                                <option>PCRTest</option>
                                <option>RapidTest</option>
                            </select>
                            <div class="small alert alert-danger" *ngIf="testType.touched && testType.invalid">
                            <span *ngIf="!!testType.errors.required">please select a Test Type</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="row pd-10">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Booking Location</label>
                            <select formControlName="location" class="form-control" >
                                <option disabled>Location</option>
                                <option>Choose Location</option>
                                <option *ngFor="let location of locations$ | async" [value]="location.locationID">{{location.locationName}}</option>
                            </select>
                            <div class="small alert alert-danger" *ngIf="location.touched && location.invalid">
                            <span *ngIf="!!location.errors.required">please select a location</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row pd-10">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Booking Date</label>
                            <input type="date" formControlName="bookingDates" class="form-control">
                            <div class="small alert alert-danger" *ngIf="bookingDates.touched && bookingDates.invalid">
                                <span *ngIf="!!bookingDates.errors.required">please input a booking date</span>
                                </div>
                          </div>
                        </div>
                      </div>


                  <button class="btn btn-primary pull-right pd-10">
                    Submit Booking
                    <i class="fa fa-spinner fa-spin fs-22 float-r" *ngIf="showLoader"></i>
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>