.card-header {
    background: grey;
    color: #ffffff;
  }
  .text-label {
    color: grey;
  }
  
  .pd-10{
      padding: 10px;
  }
  
  .pd3{
    padding: 3px;
  }
  
  .mg-5{
    margin: 5px;
  }