.card-header {
    background: grey;
    color: #ffffff;
  }
  .text-label {
    color: grey;
  }

  .pd-10{
      padding: 10px;
  }
  
  .modal-custom{
    max-width: 1000px !important
}

::ng-deep .modal-dialog{
    max-width: 1000px !important;
    width: 1000px;
  }